.movieCard{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.movieCardDiv {
    position: relative;
    display: inline-block;
    width: 200px;
    margin: 16px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .movieCardImg {
    width: 100%;
    display: block;
  }
  
  .movieCardDesc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 8px;
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0; 
    transform: translateY(100%); 
  }

  .movieCardDesc1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5px;
  }

  .movieCardPlay{
    background-color: aliceblue;
    color: black;
    padding: 5px;
    border-radius: 4px;
    transition: transform 0.3s ease;
  }
  
  .movieCardPlay:hover{
    transform: scale(1.02);
  }

  .movieCardDiv:hover .movieCardDesc {
    opacity: 1;
    transform: translateY(0);
  }
  
  .movieCardTitle, .movieCardType, .movieCardYear {
    display: block;
  }